
<div class="container">
  <div class="card card-body bg-light">
  <h1> The story behind this site</h1>
  <p>So I needed a vehicle to show people what I could do. What better way than to use the technology I know to explain what I know?</p>
  <ul>
    <li><a href="https://github.com/mtoback/angular-framework" target="_blank">Angular 9.11 (linked to Github repo)</a></li>
    <li><a href="https://github.com/mtoback/flask_webserver" target="_blank">Flask (linked to Github repo)</a></li>
    <li><a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a></li>
    <li><a href="https://docs.python.org/3.7/" target="_blank">Python 3.7</a></li>
    <li><a href="https://wiki.python.org/moin/PyUnit" target="_blank">PyUnit back end testing</a></li>
    <li><a href="https://www.postgresql.org/docs/11/index.html" target="_blank">PostgreSQL 11</a></li>
    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
    <li><a href="https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes" target="_blank">Ubuntu 18 OS</a></li>
    <li><a href="https://www.vmware.com/products/workstation-pro.html" target="_blank">VMWare Virtual Machines</a> for development</li>
    <li><a href="https://www.digitalocean.com/" target="_blank">Digital Ocean cloud</a> for deployment</li>
    <li><a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ Idea</a> for an IDE</li>
  </ul>
</div>
<div class="card card-body bg-light">
  <p>This is a work in progress, conceived of in loose terms on April 14 2020, intial development started on April 15,  first deployed on April 18, and improving each day as any MVP should.</p>
  <p>I hope to get feedback from other engineers and prospective employers.</p>
  <p>It showcases what I can work with, but as importantly, what I can do with the development process.</p>
  <p>Over a long career in engineering, I have worked with many technologies,
    in many environments from a small medical startup with less than 10 engineers to a key role in a 300 person government project.
  They all have in common the need for a consistent development process, tools and languages which are both stable but able to change as required,
  and requirements which evolve as the needs of the customers change</p>
</div>
</div>
