
<div class="card card-body bg-light">
  <h1> The story behind this site</h1>
  <p>So I needed a vehicle to show people what I could do. What better way than to use the technology I know to explain what I know?</p>
  <ul>
    <li><a href="https://angular.io/docs" target="_blank">Angular 9.11</a></li>
    <li><a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a></li>
    <li><a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a></li>
    <li><a href="https://docs.python.org/3.7/" target="_blank">Python 3.7</a></li>
    <li><a href="https://www.postgresql.org/docs/11/index.html" target="_blank">PostgreSQL 11</a></li>
    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
    <li><a href="https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes" target="_blank">Ubuntu 18 OS</a></li>
    <li><a href="https://www.vmware.com/products/workstation-pro.html" target="_blank">VMWare Virtual Machines</a> for development</li>
    <li><a href="https://www.digitalocean.com/" target="_blank">Digital Ocean cloud</a> for deployment</li>
    <li><a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ Idea</a> for an IDE</li>
  </ul>
</div>
