<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Past Positions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  (click)="goto('intrexon')">Intrexon</a>
          <a class="dropdown-item"  (click)="goto('vmware')">VMWare</a>
          <a class="dropdown-item"  (click)="goto('chordiant')">Chordiant</a>
          <a class="dropdown-item"  (click)="goto('oceania')">Oceania</a>
          <a class="dropdown-item"  (click)="goto('llnl')">Lawrence Livermore</a>
          <div class="dropdown-divider"></div>
          <p>And now something different</p>
          <a class="dropdown-item" (click)="goto('attorney')" >Patent/Family Attorney</a>
          <a class="dropdown-item" (click)="goto('niosh')" >NIOSH Internship</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Education
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  (click)="goto('cmu')">Carnegie-Mellon</a>
          <a class="dropdown-item"  (click)="goto('rpi')">Rensselaer</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
