<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span><a class="nav-link" href="#">My Story</a></span>
  <div *ngIf="screenWidth < 1000">
    <span><button [disabled]="context == 'career'" (click)="context='career'">Career</button></span>
    <span><button [disabled]="context == 'education'" (click)="context='education'">Education</button></span>
    <span><button [disabled]="context == 'metadata'" (click)="goto('metadata')">Tech in this site</button></span>
    <div *ngIf="context === 'career'">
      <span><button (click)="goto('intrexon')">Intrexon</button></span><span><button (click)="goto('vmware')">VMWare</button></span>
      <span><button (click)="goto('chordiant')">Chordiant</button></span><span><button (click)="goto('oceania')">Oceania</button></span>
      <span><button (click)="goto('llnl')">Lawrence Livermore</button></span><span><button (click)="goto('niosh')">Niosh</button></span>
    </div>
    <div *ngIf="context === 'education'">
      <span><button (click)="goto('rpi')">Rensselaer</button></span><span><button (click)="goto('cmu')">Carnegie-Mellon</button></span>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="screenWidth > 1000">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="careerNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Past Positions
        </a>
        <div class="dropdown-menu" aria-labelledby="careerNavbarDropdown">
          <a class="dropdown-item"  (click)="goto('intrexon')">Intrexon</a>
          <a class="dropdown-item"  (click)="goto('vmware')">VMWare</a>
          <a class="dropdown-item"  (click)="goto('chordiant')">Chordiant</a>
          <a class="dropdown-item"  (click)="goto('oceania')">Oceania</a>
          <a class="dropdown-item"  (click)="goto('llnl')">Lawrence Livermore</a>
          <div class="dropdown-divider"></div>
          <p>And now something different</p>
          <a class="dropdown-item" (click)="goto('attorney')" >Patent/Family Attorney</a>
          <a class="dropdown-item" (click)="goto('niosh')" >NIOSH Internship</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="schoolNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Education
        </a>
        <div class="dropdown-menu" aria-labelledby="schoolNavbarDropdown">
          <a class="dropdown-item"  (click)="goto('cmu')">Carnegie-Mellon</a>
          <a class="dropdown-item"  (click)="goto('rpi')">Rensselaer</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
