<div class="container">
  <h3>Welcome to my site</h3>

  <div class="card card-body bg-light">
  <p>I know this sounds trite. This is a site I am putting together as a challenge to myself to improve my technical skills. This site was created on April 15, so will be rapidly updated.</p>
  </div>

  <div class="card card-body bg-light">
  <p>I am a software engineer, electrical engineer, biomedical engineer. Whatever I need to be at the time</p>
  <p>Really I think I am a solution provider, mentor, process guru</p>
  <p> I have been building software based solutions since 1978, working with domain experts as varied as physicists, doctors, business analysts, and biologists</p>
  </div>

    <div class="card card-body bg-light">
  <p>Along the way I have had a passion for personal improvement and expansion. I am a lawyer (retired), try to speak and read French and Spanish, and am curious about the world around us</p>
    </div>

      <div class="card card-body bg-light">
  <p>I've taken classes in self-driving cars, AI, and ML as well, to become familiar with the technologies.</p>
      </div>
