<div class="container">
  <h3>My career in software engineering</h3>

  <div class="card card-body bg-light">
  <p>I know this sounds trite. This is a site I am putting together as a challenge to myself to define who I am as a software engineer as I move into the next chapter of my career.
    This site was created on April 15, so will be rapidly updated. So it is a MVP (minimum viable product) and I expect it will change rapidly as needed</p>
  </div>

  <div class="card card-body bg-light">
    <h3>Who I am</h3>
  <p>I am a software engineer, electrical engineer, biomedical engineer. Whatever I need to be at the time</p>
  <p>Really I think I am a solution provider, mentor, process guru</p>
  <p> I have been building software based solutions since 1978, working with domain experts as varied as physicists, doctors, business analysts, and biologists</p>
    <p>I also had a side career as a patent attorney (retired), giving me more of a chance to understand the challenges of defining a product</p>
  </div>

    <div class="card card-body bg-light">
      <h3>What else do I do</h3>
  <p>Along the way I have had a passion for personal improvement and expansion. Besides my study of law, I am also trying to learn French and Spanish, and am ever curious about the world around us.
  So I enjoy working with people in different problem domains. I also play piano, and a little guitar</p>
      <p>In that light, I've taken classes in self-driving cars, AI, and ML as well, to become familiar with those technologies.</p>
    </div>
</div>
